@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #020617; /* slate-950 */
  color: #f8fafc;            /* slate-50 */
  font-family: Inter, system-ui, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}